     
      
      .price{
        font-weight: bold;
        margin-bottom: 5px;
        font-size: 25px;
        margin-bottom: 5px;
      }

      .usd{
        font-weight: normal;
        margin-left: 2px;
        font-size: 15px;
      }

      .green{
        color: rgb(0, 255, 0);
        margin-bottom: 7px;
        font-size: 13px;
        
      }

      .bottom-text{
        font-size: 12px;
        
      }
      .thou{
        color: rgb(255, 0, 0);
      }

      p{
        font-family: arial;
        margin: 0;
      }