      
      p{
        margin-top:0;
        margin-bottom:0;
      }

      .video-title{
        font-family: roboto;
        font-weight: bold;
        font-size: 20px;
        width: 350px;
        margin-bottom:13px;
        line-height: 23px;

      }
      .vid-info{
        font-family: arial;
        color: rgb(93, 92, 92);
        margin-bottom: 15px;
      }

      .vid-desc{
        font-family:arial;
        font-size: 14px;
        width: 300px;
        line-height: 19px;
        margin-top:18px;
        margin-bottom: 100px;
      }

      .channel{
        font-family: arial;
        font-size: 13px;
        font-weight:bold;
      }

      .apple-text{
        font-family: arial;
        font-size: 13px;
        background-color: rgb(206, 22, 22);
        color: rgb(255, 255, 255);
        padding-top: 20px;
        padding-bottom: 20px;
        margin-bottom: 10px; 
        text-align: center;
      }

        .shop:hover{
          text-decoration: underline;
          cursor:pointer;
        }